name: development

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - ".github/workflows/**"

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{env.REGISTRY}}/${{github.repository}}


      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}} 
          password: ${{secrets.GITHUB_TOKEN}}
      
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
            context: ./
            push: true
            #pull requestの番号をタグ付けして作成
            tags: ${{steps.meta.outputs.tags}}
            labels: ${{steps.meta.outputs.labels }}

  update-kubernetes-manifest:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
